.list-group{
  margin-top: 10px;
  text-align: center;
}


.active {
  padding: 8px !important;
}

.list-group-item {
  padding: 0px;
}

.moveLog {
  position: relative;
  margin: 0px 15px;
}

.badge{
  margin-top: 7px;
}

.tileWrapper{
  width: 16%;
  height: 16%;
  display: inline-block;
  margin: 0% 2%;
  position: relative;
  top: 50%;
}

.fa-check {
  color: green;
}

.fa-times{
  color: red;
}

#actual-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list-group img {
  height: 30px;
  width: 30px;
  float: left;
  border-radius: 50%;
}

.no-more{
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
