.list-group{
  margin-top: 10px;
  text-align: center;
}

.moveLog {
  margin: 0px 15px;
}

.list-group-item > .showThumbail {
  float: right;
}

.badge{
  margin-top: 7px;
}

.tileWrapper{
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.list-group img {
  height: 30px;
  width: 30px;
  float: left;
  border-radius: 50%;
}
}
