* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #123;
}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

.btn {
    text-decoration: none;
    background-position: 0;
	transformation: none;
}

.container {
	padding: 0px;
	text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 600px;
    width: 100%;
}

.row {
	margin: 0px;
}

#tile-container {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 65%;
	text-align: center;
	background: #001;
	border-radius: 5%;
	padding: 1.5%;
}

#instructions {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #001;
	z-index: 10;
	padding: 10% 5%;
	overflow: hidden;
}

.col-xs-2 {
	padding: 5px;
	text-align: center;
}

.col-xs-4 {
	padding: 5px;
	text-align: center;
}

.col-xs-6 {
	padding: 1.5%;
	text-align: center;
}

.col-xs-12 {
	padding: 5px;
	text-align: center;
}

.tile {
	background: #fff;
	border-radius: 10%;
	margin: 0px;
	padding: 20%;
}

.instruction-tile{
	background: #fff;
	border-radius: 10%;
	margin: 0px;
	padding: 20%;
}

.shape-svg {
	width: 100%;
	height: 100%;
}

.color-red {
	fill: #f11;
}

.color-blue {
	fill: #26f;
}

.color-yellow {
	fill: #fc0;
}

.color-red-light {
	background: #711;
}

.color-blue-light {
	background: #127;
}

.color-yellow-light {
	background: #761;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#score {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #001;
	z-index: 10;
	padding: 5% 5%;
}

#user-image {
	width: 60%;
	border-radius: 10px;
	margin: 0%;
}

#username {
    font-size: 250%;
    color: white;
}

#winner-text {
	font-size: 400%;
    color: white;
}


#instructions-title{
	color: white;
	font-size: 200%;
	margin-top: -25px;
}

.instructions-sub-title{
	color: gray;
	font-size: 120%;
}

#runners-up {
	color: white;
	font-size: 200%;
	margin-top: 5%;
}

